useradd -c "G0000 - AdmPrepago" -s /bin/ksh -d /export/oracle oracle;
useradd -c "G0000 - AdmPrepago" -s /bin/ksh -d /export/argentina argentina;
useradd -c "G0000 - AdmPrepago" -s /bin/bash -d /export/adm_tmar adm_tmar;
useradd -c "G0000 - AdmPrepago" -s /bin/bash -d /export/sop_sdp sop_sdp;
useradd -c "G0000 - AdmPrepago" -s /bin/bash -d /export/sop_dba sop_dba;
useradd -c "G0000 - AdmPrepago" -s /bin/bash -d /export/eri_estad eri_estad;
useradd -c "G0000 - Usuario Estadisticas" -s /bin/ksh -d /export/sop_pres sop_pres;
useradd -c "21912099 Gaston Leroux" -s /bin/bash -d /export/gleroux gleroux;
useradd -c "27434314 Martin Acuña" -s /bin/bash -d /export/mmacuna mmacuna;
useradd -c "22313454 Ariel Millan" -s /bin/bash -d /export/a_millan a_millan;
useradd -c "24946709 Fernando Miers" -s /bin/bash -d /export/f_miers f_miers;
useradd -c "24823835 Fernanda Augusto" -s /bin/bash -d /export/maugusto maugusto;
useradd -c "94511303 Dori Serrano" -s /bin/bash -d /export/dmserran dmserran;
useradd -c "94698719 Carol Loaiza" -s /bin/bash -d /export/cloaiza cloaiza;
useradd -c "32948298 Gonzalo Rodrigo Alvarez" -s /bin/bash -d /export/gralvare gralvare;
useradd -c "26403881 Sebastian Schapavalov" -s /bin/bash -d /export/schapovalov schapovalov;
useradd -c "30963846 Fernandez, Dario" -s /bin/bash -d /export/dafernan dafernan;
useradd -c "24867590 Lerner, Diego" -s /bin/bash -d /export/dlerner dlerner;
useradd -c "29599957 Cascon, Pablo Javier" -s /bin/bash -d /export/pcascon pcascon;
useradd -c "29954681 Mon,  Carlos Daniel" -s /bin/bash -d /export/cdmon cdmon;
useradd -c "24128999 Martin Fabian" -s /bin/bash -d /export/martin_f martin_f;
useradd -c "32394240 Ruben Dario Novelli" -s /bin/bash -d /export/rdnovell rdnovell;
useradd -c "G0000 - Usuario Monitoreo" -s /bin/bash -d /export/xymon xymon;
useradd -c "33209809 Hernan Bonneric" -s /bin/bash -d /export/hbonneri hbonneri;
useradd -c "G0000 - Seguridad de Datos" -s /bin/bash -d /export/tlf_seg_dat tlf_seg_dat;
useradd -c "38145111 Misael Andres Bernat" -s /bin/bash -d /export/mabernat mabernat;
useradd -c "G0000 - Seguridad Informatica" -s /bin/bash -d /export/guardium guardium;

cp -prf /export/etc/sudoers /etc/sudoers;
cd /export;

tar -zxvf adm_tmar.tar.gz;
tar -zxvf a_millan.tar.gz;
tar -zxvf ARGENTINA.tar.gz;
tar -zxvf cdmon.tar.gz;
tar -zxvf dafernan.tar.gz;
tar -zxvf dlerner.tar.gz;
tar -zxvf dmserran.tar.gz;
tar -zxvf ericsson.tar.gz;
tar -zxvf eri_estad.tar.gz;
tar -zxvf f_miers.tar.gz;
tar -zxvf gleroux.tar.gz;
tar -zxvf gralvare.tar.gz;
tar -zxvf hbonneri.tar.gz;
tar -zxvf mabernat.tar.gz;
tar -zxvf martin_f.tar.gz;
tar -zxvf maugusto.tar.gz;
tar -zxvf mmacuna.tar.gz;
tar -zxvf pcascon.tar.gz;
tar -zxvf rdnovell.tar.gz;
tar -zxvf schapovalov.tar.gz;
tar -zxvf seg_inf.tar.gz;
tar -zxvf sop_dba.tar.gz;
tar -zxvf sop_pres.tar.gz;
tar -zxvf sop_sdp.tar.gz;
tar -zxvf tlf_seg_dat.tar.gz;
tar -zxvf xymon.tar.gz;

usermod -g TMAr_dba cdmon;
usermod -g TMAr_dba dafernan;
usermod -g TMAr_dba dlerner;
usermod -g TMAr_dba pcascon;
usermod -g AdmPrep cloaiza;
usermod -g AdmPrep a_millan;
usermod -g AdmPrep dmserran;
usermod -g AdmPrep f_miers;
usermod -g AdmPrep gleroux;
usermod -g AdmPrep gralvare;
usermod -g AdmPrep hbonneri;
usermod -g AdmPrep mabernat;
usermod -g AdmPrep martin_f;
usermod -g AdmPrep maugusto;
usermod -g AdmPrep mmacuna;
usermod -g AdmPrep rdnovell;
usermod -g AdmPrep schapovalov;

ln -s /export/xymon /home/xymon;